# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Flask specific
instance/
*.log

# Docker
*.env
docker-compose.override.yml

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# System files
.DS_Store
Thumbs.db